:root{
    --margin_subs:0px;
    --padding_subs:55   px;
}

@font-face {
    font-family:'Norse-Bold' ;
    src: url(Norse-Bold.otf);
}
body{
    min-width: fit-content;
    margin:0px;
    height:100vh;
}
.container{
    display:flex;
    height:100vh;
    width:100vw;
}
.back{
    
    width:40vw;
    height:100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.elements{
    display:flex;
    margin-top:20em;
    padding-left:10em;
    
    background-color: rgb(26, 25, 25,0.7);

    
}
 .elements>img{
    
    width:9em; 
    height:auto;   
    opacity:1;
    
 }   
 .elements>h1{
    
    color:white;
    font-family: 'Norse-Bold';
    padding-top:30px;
    font-size:5em;
    font-weight: 300;
 }
.material{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    width:min(60vw,60%);
    
    background-color: white;
    
}
.material>.first{
    flex-grow: 1;
    flex-shrink:1;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:var(--margin_subs);
    display:block;
    padding-right:4em;
    padding-left:3em;
    padding-top:3em;
    font-size: 1.5em;
    padding-bottom:5px;
    max-height:35%

}


.form-example{
    flex-grow: 2;
    
    flex-shrink:1;
    display:flex;
    flex-direction: column;

}
.main_form{
    display:flex;
    flex-direction: column ;
    background-color: beige;
    padding-left:3em;
    padding-right: 1em;
    padding-top:2em;
    padding-bottom:1em;
    gap:2em;
    flex-wrap: wrap;
}
.details{
    display:flex;
    flex: 1;
    gap:6em;
    
}
input{
    min-width: 1em;
    max-width:30em;
    width:16em;
    height:2.2em;
    border-radius: 5px;
    border-color: aliceblue;
    font-size: 1rem;
    overflow: hidden;
    box-sizing: border-box;
}
.small{
    font-size: 1.75em;
    display:flex;
    flex-direction: column  ;

}
.submit_section{
    padding-left: 3rem;
    padding-top:1rem;
    padding-bottom:2rem;
    font-size: 1em;
}


/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  width:14em;
  height:3em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
input:focus{
    background-color: lightblue;
}
input:invalid{
    outline: none;
    border:3px solid red;
    
}
@media only screen and (max-width: 1200px){
    .container{
        flex-direction: column;
        width:100%;

    }
    .back{
        width:100%;
        flex-grow: 1;
    }
    .main_form{
        flex-direction: row;
        flex-grow: 1;
    }
    .sensitives{
        flex-direction: column;
        gap:1em;
        
    }
    .details{
        flex-direction: column;
        gap:1em;
    }
    .name{
        flex-direction: column;
        gap:1em;
    }
    .material>.first{
        width:100%;
        padding-right:0px;
        flex-grow: 1;
    }
    .material{
        width:100vw;
    }

}